<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <!--<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBeh">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="EventService.EventService" behaviorConfiguration="mexBeh">
        <endpoint address="" binding="netTcpBinding" contract="EventService.IEventService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://EKB1461:8301" />
            <add baseAddress="net.tcp://EKB1461:8302" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>-->

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Prism" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.97.5141" newVersion="8.1.97.5141" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
