<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IEventService">
                    <reliableSession enabled="true" />
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8302/EventService.EventService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IEventService"
                contract="ServiceReference1.IEventService" name="NetTcpBinding_IEventService" />
        </client>
    </system.serviceModel>
</configuration>