<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup></startup>
  <connectionStrings>
    <add name="HvtAppContext" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=HvtAppDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework;" providerName="System.Data.SqlClient" />
    <add name="OPvva" connectionString="data source=uetm2\s1;initial catalog=HVTApp.DataAccess.HvtAppContext;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework;" providerName="System.Data.SqlClient" />
    <!--<add name="HvtAppContext" connectionString="Server=tcp:hvtappeurope.database.windows.net,1433;Initial Catalog=HVTAppDB;Persist Security Info=False;User ID=kosolapov;Password=Qazxsw12;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdwrapperId name="Ploeh.AutoFixture" publicKeyToken="b24654c590009d4f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.50.2.0" newVersion="3.50.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdwrapperId name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Prism" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.396" newVersion="7.0.0.396" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IEventService" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8302/" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_IEventService" contract="ServiceReference1.IEventService"
          name="NetTcpBinding_IEventService">
        <identity>
          <userPrincipalName value="HOUSE\admin" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>

</configuration>