<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="net452" />
  <package id="Infragistics.WPF" version="21.1.27" targetFramework="net48" />
  <package id="Infragistics.WPF.DataGrids" version="21.1.27" targetFramework="net48" />
  <package id="Infragistics.WPF.DataManager" version="21.1.27" targetFramework="net48" />
  <package id="Infragistics.WPF.DataTree" version="21.1.27" targetFramework="net48" />
  <package id="Infragistics.WPF.DragDrop" version="21.1.27" targetFramework="net48" />
  <package id="Infragistics.WPF.Editors" version="21.1.27" targetFramework="net48" />
  <package id="Infragistics.WPF.Menus" version="21.1.27" targetFramework="net48" />
  <package id="Infragistics.WPF.OutlookBar" version="21.1.27" targetFramework="net48" />
  <package id="Prism.Core" version="7.0.0.396" targetFramework="net48" />
  <package id="Prism.Wpf" version="6.3.0" targetFramework="net452" />
  <package id="Unity" version="4.0.1" targetFramework="net452" />
</packages>